@import '../variables/variables.scss';

.heading{
    background: $search;
        padding: 15px 100px;

        h2{
            font-size: 1.8em;
            color: #fff;
        }
}


#myOffersSection{
    width: 80%;
    margin: 0 auto;
    background: #fff;
    
    
}

.myOffersTable{
    width: 1000px;
}

section{
    background: $showCarSection;
     table {
        border-top: 1px solid #000;
        border-bottom: 1px solid rgb(119, 119, 119);
        border-collapse: collapse;
      }
    table{
        width: 880px;
        margin: 0 auto;
        font-weight: bold;
        
        tr{
            text-align: center;
            font-size: 1.1em;
            border-collapse: collapse;
            border-bottom: 1px solid #000;
            margin-left: 15px;
            
            .carTitle, .carPrice{
                font-weight: bold;
                font-size: 1.4em;
                
            }

            .carTitle{
                width: 200px;
                text-align: center;
            }

            td{
            width: 100px;

            a{
                color: #000;
                text-decoration: underline;
            }

            a:hover{
                text-decoration: none;
            }
             span{
                 font-weight: normal;
                 font-size: .9em;
             }
             
             #delete-btn{
                 color: rgb(228, 0, 0);
                 margin-left: 20px;
                 border-radius: 10px;
                 border: .8px solid #000;
                 padding: 10px 20px;
                 text-decoration: none;
             }
             
           }
        }

        img{
            width: 220px;
        }
    }
}