/*COLORS*/
$header: #6300B4;
$border: #E3E3E3;
$form: rgb(65, 0, 117);
$search: rgb(33, 173, 64);
$heading: rgb(138, 0, 252);
$showCarSection: rgb(209, 209, 209);
$grayish: rgb(221, 221, 221);
