@import '../variables/variables.scss';

.container{
    width: 100%;
    height: 1000px;
    display: block;

    input::placeholder, textarea::placeholder{
        color: #fff;
    }

    .heading-container{
        background: $search;
        padding: 10px 5%;
        
        h1{
            font-size: 1.8em;
            color: #fff;
        }
    }

    .addNewForm{
        width: 100%;
        height: 100%;
        display: block;
        background: $form;

        .addNewLeft{
            height: 800px;

            .input-container{
                width: 100%;
                margin-bottom: 20px;
    
                select, input, #adv-search-btn{
                    width: 235px;
                    padding: 8px 10px;
                    margin-left: 10px;
                    border: 1px $border solid; 
                    background: unset;
                    border-radius: 10px;
                    color: #fff;
                    background: $form;
                    font-size: 1.1em;
            
                    option{
                        color: rgb(255, 255, 255);
                    }
                }
    
                input::placeholder{
                    color: #fff;
                }
                
                .longInput{
                    width: 115px;
                }
    
                .shortInput{
                    width: 60px;
                }
    
                #search-btn{
                    margin-bottom: 10px;
                    background: $search;
                    cursor: pointer;
                }
    
            }
        }

        .add-new{
            display: inline-block;
            width: 70%;
            padding-bottom: 40px;
            background: $form;
            
            .features{
                padding-top: 45px;
            }

            .features, .security, .city, .price, .description, .image, .phone{
                padding-left: 5%;
                margin-bottom: 20px;
                color: #fff;
                width: 100%;
               
                h2{
                    margin-bottom: 10px;
                }

                input{
                    margin-left: 2%;
                }
            }

            .city, .price, .phone{

                margin-left: 20px;
                
                input, #country_code{
                    width: 235px;
                    padding: 8px 10px;
                    border: 1px $border solid; 
                    background: unset;
                    border-radius: 10px;
                    color: #fff;
                    background: $form;
                    font-size: 1.1em;
                    
                }

                #country_code{
                    width: 90px;
                }
            }

            .description{
                margin-top: 60px;
                width: 400px;   
                textarea{
                    padding: 8px 10px;
                    border: 1px $border solid; 
                    background: unset;
                    border-radius: 10px;
                    color: #fff;
                    background: $form;
                    font-size: 1.1em;
                }
            }

            .image{
                width: 700px;
                margin-top: 60px;
                
                label{
                    color: #fff;
                    font-size: 1.5em;
                    font-weight: bold;
                    padding: 5px 10px 20px 8px;
                }

                input{
                    width: 235px;
                    padding: 8px 10px;
                    margin-bottom: 40px;
                    border: 1px $border solid; 
                    background: unset;
                    border-radius: 10px;
                    color: #fff;
                    background: $form;
                    font-size: 1.1em;
                }
            }
            
            .price{
                margin-top: 40px;
                
                input{
                    padding: 10px 20px;
                    font-size: 1.3em;
                }
            }

            .submit{
                margin-top: 20px;
                margin-left: 3%;

                input{
                    border-radius: 10px;
                    border: .8px solid #fff;
                    background: $search;
                    color: #fff;
                    padding: 12px 20px;
                    margin-top: 40px;
                    font-size: 1.1em;
                }

                input:hover{
                    background: unset;
                    cursor: pointer;
                    transition: .3s;
                }
            }
        }
    }
}

@media only screen and(max-width: 1030px){
    .container{
        width: 100%;
        .heading-container{
            width: 100%;
            padding: 0;
            h1{
                width: 300px;
                margin: 0 auto;
                padding: 10px 20px;
                padding-left: 80px;
                font-size: 1.5em;
            }
        }
        
        .addNewForm{
            width: 100%;
            height: 900px;
            .addNewLeft{
                width: 100%;
                height: 100%;
                margin-bottom: 30px;
                
                .input-container{
                    width: 70%;
                    margin: 0 auto;
                    margin-bottom: 30px;
                    
                    input, select{
                        width: 100%;
                        margin: 0 auto;
                        padding: 15px 15px;
                    }

                    input{
                        width: 90%;
                    }
                }
                
            }
            .add-new{
                display: block;
                width: 100%;
                margin: 0;
                background: $form;
                
                .description, .city, .phone, .image, .price{
                    width: 80%;
                    margin: 0 auto;
                    padding: 0;
                    margin-bottom: 30px;

                    h2{
                        text-align: center;
                        margin-bottom: 20px;
                    }

                    textarea, input, select{
                        display: block;
                        width: 80%;
                        margin: 0 auto;
                        background: $heading;
                    }

                  
                }

                .phone{
                    input{
                        margin-bottom: 20px;
                    }

                    #country_code{
                        margin-bottom: 60px;
                    }
                }

                .submit{
                    width: 100%;
                    margin-top: 80px;

                    input{
                        display: block;
                        width: 200px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    
}
    
